<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout/header :: header" >
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>SpringBoard</title>
</head>
<body>
<div>
  <table class="table table-horizontal">
    <thead>
    <tr>
      <th th:text="${dto.title}"></th>
      <th>카테고리 : [[${dto.category}]]</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>작성자 : [[${dto.writer}]]</td>
      <td>조회수 : [[${dto.view}]]</td>
    </tr>
    <tr>
      <td th:text="${dto.content}"></td>
    </tr>
    </tbody> </table>
  <div class="text-left">
    <a th:href="@{/post/{post_id}/update (post_id=${dto.id})}"
       th:if="${#strings.equals(dto.member_id, member.id)}"
       role="button" class="btn btn-primary bi bi-pencil-fill"> 수정</a>
    <a th:href="@{/post/read/{post_id}/remove (post_id=${dto.id})}"
       th:if="${#strings.equals(dto.member_id, member.id)}"
       role="button" class="btn btn-primary bi bi-pencil-fill"> 삭제</a>
  </div>
  <p></p>
  <div>
    <table class="table table-horizontal">
      <tbody>
      <tr th:each="comment : ${comments}">
        <td>작성자 : [[${comment.name}]]</td>
        <td th:text="${comment.text}"></td>
      </tr>
      </tbody> </table>
  </div>
  <div class="container">
    <form role="form" th:action="@{/post/{post_id}/comment (post_id=${postId})}" th:object="${CommentDto}" method="post">
      <div class="form-group">
        <label th:for="text">댓글</label>
        <input type="text" class="form-control" th:field="*{text}" placeholder="댓글을 입력하세요">
      </div>
      <button type="submit" class="btn btn-primary">작성</button>
    </form>
  </div>

</div>
</body>
</html>